{% extends 'admin/index.html.twig' %}

{% block body %}

    <div class="mt-4">
        <h2 class="text-center">Add new recipe</h2>

        {{ include('admin/recipe/_form.html.twig') }}

    </div>
{% endblock %}