{% extends 'admin/index.html.twig' %}

{% block body %}

  <h2 class="mt-4 mb-4">All recipes</h2>

  <a href="{{ path('app_recipe_new') }}" class="btn btn-primary">Add new recipe +</a>


  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
          <tr>
              <th scope="row">{{recipe.id}}</th>
              <td>{{recipe.title}}</td>
              <td>
                <a href="" class="btn btn-primary">Editer</a>
                <a href="" class="btn btn-danger">Supprimer</a>
              </td>
          </tr>
      {% endfor %}

    </tbody>
  </table>
  
{% endblock %}
